/* achievement list */


.count:not(.fix) {
    background-color: var(--color);
    color: rgba(0,0,0,0.85);
    font-weight: 800;
    font-size: 12px;
    transition: 0.3s;
    text-align: center;
    min-width: 40px;
    padding: 3px 10px;
    display: inline-block;
}
.count i {
    font-size: 10px;
    font-weight: 600;
    position: relative;
    bottom: 1px;
    margin-right: 2px;
}

[data-points="0"] { --color: #AAAAAA; color: #FFD966 !important; }
[data-points="1"] { --color: #4aaefd; }
[data-points="2"] { --color: #4fcdf7; }
[data-points="3"] { --color: #4fefe0; }
[data-points="4"] { --color: #5dffad; }
[data-points="5"] { --color: #adf954; }
[data-points="6"] { --color: #e8f25b; }
[data-points="7"] { --color: #f9c661; }
[data-points="8"] { --color: #fc9f65; }
[data-points="9"] { --color: #ff7f68; }
[data-points="10"] { --color: #ff716a; }
[data-points="11"] { --color: #ff626c; }
[data-points="12"] { --color: #ff506f; }
[data-points="13"] { --color: #ec4b87; }
[data-points="14"] { --color: #d748a2; }
[data-points="15"] { --color: #cd46af; }
[data-points="16"] { --color: #c047bb; }
[data-points="17"] { --color: #ae4cc2; }
[data-points="18"] { --color: #9c52c8; }
[data-points="19"] { --color: #8a57cf; }
[data-points="20"] { --color: #785dd6; }
[data-points="21"] { --color: #5c5ad5; }
[data-points="22"] { --color: #4442bc; color: #FFD966 !important; }
[data-points="23"] { --color: #2c29a3; color: #FFD966 !important; }
[data-points="24"] { --color: #19168f; color: #FFD966 !important; }
[data-points="25"] { --color: #141278; color: #FFD966 !important; }
[data-points="26"] { --color: #100e60; color: #FFD966 !important; }
[data-points="27"] { --color: #0c0b48; color: #FFD966 !important; }
[data-points="28"] { --color: #080730; color: #FFD966 !important; }
[data-points="29"] { --color: #040418; color: #FFD966 !important; }
[data-points="30"] { --color: #000000; color: #FFD966 !important; }
[data-points="31"] { --color: #000000; color: #FFD966 !important; }
[data-points="32"] { --color: #000000; color: #FFD966 !important; }
[data-points="33"] { --color: #000000; color: #FFD966 !important; }
[data-points="34"] { --color: #000000; color: #FFD966 !important; }
[data-points="35"] { --color: #000000; color: #FFD966 !important; }
[data-points="36"] { --color: #000000; color: #FFD966 !important; }
[data-points="37"] { --color: #000000; color: #FFD966 !important; }
[data-points="38"] { --color: #000000; color: #FFD966 !important; }
[data-points="39"] { --color: #000000; color: #FFD966 !important; }
[data-points="40"] { --color: #000000; color: #FFD966 !important; }
[data-points="41"] { --color: #000000; color: #FFD966 !important; }
[data-points="42"] { --color: #000000; color: #FFD966 !important; }
[data-points="43"] { --color: #000000; color: #FFD966 !important; }
[data-points="44"] { --color: #000000; color: #FFD966 !important; }
[data-points="45"] { --color: #000000; color: #FFD966 !important; }
[data-points="46"] { --color: #000000; color: #FFD966 !important; }
[data-points="47"] { --color: #000000; color: #FFD966 !important; }
[data-points="48"] { --color: #000000; color: #FFD966 !important; }
[data-points="49"] { --color: #000000; color: #FFD966 !important; }
[data-points="50"] { --color: #000000; color: #FFD966 !important; }
[data-points="51"] { --color: #000000; color: #FFD966 !important; }
[data-points="52"] { --color: #000000; color: #FFD966 !important; }
[data-points="53"] { --color: #000000; color: #FFD966 !important; }
[data-points="54"] { --color: #000000; color: #FFD966 !important; }
[data-points="55"] { --color: #000000; color: #FFD966 !important; }
[data-points="56"] { --color: #000000; color: #FFD966 !important; }
[data-points="57"] { --color: #000000; color: #FFD966 !important; }
[data-points="58"] { --color: #000000; color: #FFD966 !important; }
[data-points="59"] { --color: #000000; color: #FFD966 !important; }
[data-points="60"] { --color: #000000; color: #FFD966 !important; }
[data-points="64"] { --color: #000000; color: #FFD966 !important; }
[data-points="100"] { --color: #000000; color: #FFD966 !important; }
[data-points="200"] { --color: #000000; color: #FFD966 !important; }




.advanced_max {
    font-weight: 900;
}
.advanced_full_max {
    font-weight: 900;
}
.what {
    font-weight: 900;
}


.rate-bar {
    display: flex;
    height: 12px;
    overflow: hidden;
    border-radius: 50px;
    margin-top: 20px;
}
.rate-bar span {
    background-color: var(--color);
    filter: blur(3px);
    box-shadow: 0px 0px 10px 10px var(--color);
    flex: 1;
}

.rate-bar-text {
    display: flex;
    margin-bottom: 20px;
}
.rate-bar-text span {
    flex: 1;
    position: relative;
    top: 6px;
    font-weight: 600;
    font-size: 14px;
}


.supports {
    grid-gap: 12px 15px;
    margin-bottom: 20px;
}


section {
    overflow: hidden;
}
.no-padding {
    margin: -20px -20px 20px;
    padding: 20px;
}

.actions {
    display: flex;
    justify-content: right;
}