/* achievement list */


.count {
    border: 1px solid currentColor;
}
/* easy */
.count.easy, .count.bit_harder {
    border-color: rgba(255,255,255,0.15);
}
.count.start_less {
    border-color: rgba(255,255,255,0.22);
}
.count.mid, .count.speedrun, .count.speedrun_a_bit {
    color: var(--text-main);
}
.count.speedrun_end, .count.normal, .count.advanced_cheat_a_bit {
    color: var(--text-head);
}
.count.advanced_cheat {
    color: #d0ade4;
}
.count.advanced, .count.advanced_almost_full {
    color: #be8bf8;
    font-weight: 700;
}
.count.advanced_full {
    color: #8b6bff;
    font-weight: 800;
    border-width: 2px;
}
.count.advanced_max {
    color: #4f7eff;
    font-weight: 900;
    border-width: 2px;
}
.count.what {
    color: #4ebeff;
    font-weight: 900;
    border-width: 2px;
}